@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
  display: flex;
  justify-content: center;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.welcome-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-family: 'Michroma', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

span {
  color: #EA0016;
  font-weight: bold;
  // -webkit-text-stroke: 1px #EA0016;
}

button {
  font-family: 'Michroma', sans-serif;
  margin-top: 5px;
  border: 1px solid black;
  -webkit-text-stroke: 0.5px black;
  width: 100px;
}